{% extends 'swap/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row uniform">
        <div class="12u$">
            <header id="header">
                <h2 class="colored"><span class=" icon fa-calendar"></span> {{ faculty }}-{{ classnum }}-{{ term }}
                    Overview</h2>

                <form method="post" action="/api/instructor/class/delete">
                    {% csrf_token %}
                    <input type="hidden" name="faculty" value="{{ faculty }}"/>
                    <input type="hidden" name="classnum" value="{{ classnum }}"/>
                    <input type="hidden" name="term" value="{{ term }}"/>
                    <input type="submit" value="Delete Class"/>
                </form>
            </header>

        </div>

    </div>
    <br>
    <!--------------------------------------------------------------------------------------------------------------
        EQUIPMENT OVERVIEW
     --------------------------------------------------------------------------------------------------------------->
    <h3 class="colored">Required Equipment</h3>
    <div class="row uniform">
        <div class="6u$ 12u$(small)">
            <div class="table-wrapper">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                    </tr>
                    {% for equip in equiplist %}
                        <tr>
                            <td>
                                {{ equip.equipmentName }}
                            </td>
                            <td>
                                {{ equip.equipmentType }}
                            </td>
                            <td>
                                <form method="post" action="/api/instructor/equipment/delete">
                                    {% csrf_token %}
                                    <input type="hidden" name="faculty" value="{{ faculty }}"/>
                                    <input type="hidden" name="classnum" value="{{ classnum }}"/>
                                    <input type="hidden" name="term" value="{{ term }}"/>
                                    <input type="hidden" name="equipid" value="{{ equip.equipmentID }}"/>
                                    <input type="submit" value="Remove Equipment"/>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <a href="/addequipment/class/{{ faculty }}-{{ classnum }}-{{ term }}"
       class="button special"> Add Equipment </a>
    <br><br><br><br>
    <!--------------------------------------------------------------------------------------------------------------
        STUDENT OVERVIEW
     --------------------------------------------------------------------------------------------------------------->
    <h3 class="colored">Enrolled Students</h3>
    <div class="row">
        <div class="6u$ 12u$(small)">
            <div class="table-wrapper">
                <table>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Faculty</th>
                        <th>Year</th>
                    </tr>
                    {% for student in enrolled %}
                        <tr>
                            <td>
                                {{ student.username }}
                            </td>
                            <td>
                                {{ student.name }}
                            </td>
                            <td>
                                {{ student.faculty }}
                            </td>
                            <td>
                                {{ student.year }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="6u$ 12u$(small)">
            <h3 class="colored">Students With All Required Equipment</h3>
            <div class="table-wrapper">
                <table>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Faculty</th>
                        <th>Year</th>
                    </tr>
                    {% for student in hasallequip %}
                        <tr>
                            <td>
                                {{ student.username }}
                            </td>
                            <td>
                                {{ student.name }}
                            </td>
                            <td>
                                {{ student.faculty }}
                            </td>
                            <td>
                                {{ student.year }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}