{% extends 'swap/base.html' %}
{% load staticfiles %}

{% block content %}

    <span class="main image">
        <img src="{% static 'swapapp/images/main_banner.jpg' %}"/>
    </span>
    <div class="row">
        <div class="8u 12u$(small)">
            <div class="12u$">
                <h3>Welcome to Swap</h3>
                <p>
                    Swap is service built to improve the education experience for both students and instructors by
                    making sure students have the correct equipments they require for their courses.
                    <br><br>
                    Instructors can help students prepare for their course by listing the equipments they'll need to
                    succeed. Swap allows instructors to keep track of which students are on progress in preparation for
                    their course.
                    <br><br>
                    Students can see the equipments they'll need beforehand for a course and have convient ways to acquire them.
                    With Swap, students can trade with other students by exchanging items they have from previous courses.
                </p>
            </div>
        </div>

        <div class="4u$ 12u$(small)">
            <a href="/login" class="button special fit">LOGIN</a>
            <a href="/join" class="button fit">JOIN</a>
            <a href="/search" class="button fit">LEARN MORE</a>
        </div>
    </div>

{% endblock %}
