{% extends 'swap/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row uniform">
        <span class="main image">
            <img src="{% static 'swapapp/images/instructor_banner.jpg' %}"/>
        </span>

        <!--------------------------------------------------------------------------------------------------------------
        COURSES YOU ARE TEACHING
        --------------------------------------------------------------------------------------------------------------->
        <div class="12u$">
            <header id="header">
                <h2 class="colored"><span class=" icon fa-graduation-cap"></span> Courses you are teaching</h2>
            </header>
        </div>

        <div class="8u 12u$(small)">
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>Faculty</th>
                        <th>Number</th>
                        <th>Term</th>
                        <th>Equipment(s)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for class in classlist %}
                        <tr>
                            <td>
                                {{ class.faculty }}
                            </td>
                            <td>
                                {{ class.classNum }}
                            </td>
                            <td>
                                {{ class.term }}
                            </td>
                            <td>
                                {% for equip in class.equiplist %}
                                    | {{ equip.equipmentName }}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="/overview/class/{{ class.faculty }}-{{ class.classNum }}-{{ class.term }}"
                                   class="button special"> Overview </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="4u$ 12u$(small)">
            <p>
                Swap allows instructors to list eqiupments students need for your course, and get an overview of how
                many students are prepared. Here you can see the courses you are teaching.
            </p>
            <a href="/addclass" class="button special">Add a class</a>
        </div>
    </div>

{% endblock content %}