{% extends 'swap/base.html' %}
{% block content %}

    <h2>WELCOME {{ obj.instructor.username }}</h2>
    <a href="/api/auth/logout" class="button">Logout</a>

    <h3>YOUR CLASSES</h3>
    <a href="/addclass" class="button special">Add a class</a>

    <div class="table-wrapper">
        <table>
        <thead>
            <tr>
                <th>Faculty</th>
                <th>Number</th>
                <th>Term</th>
                <th>Equipment(s)</th>

            </tr>
            </thead>
        <tbody>
            {% for class in obj.classlist %}
                <tr>
                    <td>
                        {{ class.faculty }}
                    </td>
                    <td>
                        {{ class.classNum }}
                    </td>
                    <td>
                        {{ class.term }}
                    </td>
                    <td>
                        <a href="/addequipment/class/{{ class.faculty }}{{ class.classNum }}{{ class.term }}" class="button special"> Add
                            Equipment </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

{% endblock content %}