<html>
<head>
    <title>JOIN</title>
</head>
<body bgcolor=white>
<h1>Join Swap</h1>

<form action="/api/auth/join" method="post">
    <div class="field-wrap">
        <label>
            Join as <span class="req">*</span>
        </label> <br>
        <input type="radio" name="kind" value="student" checked> Student<br>
        <input type="radio" name="kind" value="instructor"> Instructor<br>
    </div>

    <div class="field-wrap">
        <label>
            Username<span class="req">*</span>
        </label>
        <input name="username" type="text" required autocomplete="off"/>
    </div>

    <div class="field-wrap">
        <label>
            Password<span class="req">*</span>
        </label>
        <input name="password" type="password" required autocomplete="off"/>
    </div>

    <div class="field-wrap">
        <label>
            Name<span class="req">*</span>
        </label>
        <input name="name" required autocomplete="off"/>
    </div>

    <div class="field-wrap">
        <label>
            Faculty<span class="req">*</span>
        </label>
        <input name="faculty" type="text" required autocomplete="off"/>
    </div>

    <div class="field-wrap">
        <label>
            Year<span class="req">*</span>
        </label>
        <input name="year" type="number" min="1" max="5" required autocomplete="off"/>
    </div>

    <div class="field-wrap">
        <label>
            Phone Number<span class="req">*</span>
        </label>
        <input name="phonenumber" type="text" required autocomplete="off"/>
    </div>

    <div class="field-wrap">
        <label>
            Email<span class="req">*</span>
        </label>
        <input name="email" type="text" required autocomplete="off"/>
    </div>

    <button type="submit" class="button button-block"/>
    JOIN</button>
</form>
</body>
</html>
