{% extends 'swap/base.html' %}
{% block content %}

    <form action="/login" method="post"> {% csrf_token %}
        <div class="row uniform">
            <div class="12u$">
                <h2>Login!</h2>
            </div>

            <!-- Account details -->
            <div class="6u$ 12u$(xsmall)">
                <label>Username</label>
                <input type="text" name="username" placeholder="John" required autocomplete="off"/>
            </div>
            <div class="6u$ 12u$(xsmall)">
                <label>Password</label>
                <input type="password" name="password" placeholder="something more secure than 123" required
                       autocomplete="off"/>
            </div>
            <div class="6u$ 12u$(small)">
                <label for="kind">I am a: </label>
            </div>
            <div class="2u 12u$(small)">
                <input type="radio" id="kind-student" name="kind" value="student" checked>
                <label for="kind-student">Student</label>
            </div>
            <div class="2u$ 12u$(small)">
                <input type="radio" id="kind-instructor" name="kind" value="instructor">
                <label for="kind-instructor">Instructor</label>
            </div>

            <p style="color:red"> {{ error }}</p>

            <!-- Login button -->
            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="Login" class="special"/></li>
                    <li><a href="/join" class="button">Create an account</a></li>
                </ul>
            </div>
        </div>
    </form>

{% endblock %}
