<html>
<head>
    <title>JOIN</title>
</head>
<body bgcolor=white>
<h1>Join Swap</h1>

<form action="/api/auth/login" method="post">
    <div class="field-wrap">
        <label>
            Login as <span class="req">*</span>
        </label> <br>
        <input type="radio" name="kind" value="student" checked> Student<br>
        <input type="radio" name="kind" value="instructor"> Instructor<br>
    </div>

    <div class="field-wrap">
        <label>
            Username<span class="req">*</span>
        </label>
        <input name="username" type="text" required autocomplete="off"/>
    </div>

    <div class="field-wrap">
        <label>
            Password<span class="req">*</span>
        </label>
        <input name="password" type="password" required autocomplete="off"/>
    </div>

    <button type="submit" class="button button-block"/>
    LOGIN</button>
</form>
</body>
</html>
