{% extends 'swap/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row uniform">
        <span class="main image">
            <img src="{% static 'swapapp/images/student_banner.jpg' %}"/>
        </span>


        <!--------------------------------------------------------------------------------------------------------------
      TRADE STATS
      --------------------------------------------------------------------------------------------------------------->


        <div class="12u$">
            <header id="header">
                <h2 class="colored align-right"><span class=" icon fa-database"></span>  Swap Statistics</h2>
            </header>
        </div>

        <div class="6u 12u$(small)">
            <div class="table-wrapper">
                Trade Stats:
                <br>
                <table>
                           <th>Most Trades Made: </th>
                        <th>{{ maxTrades }}</th>
                    </tr></tr>
                       <tr>
                        <th>Most Trades Made By Single User:  </th>
                           <th>{{ maxTradesUser }}</th>
                       </tr>
                    <th>Average Number of Trades Per User:  </th>
                           <th>{{ avgTradesUser }}</th>
                       </tr>
                </table>
            </div>
        </div>
    <div class="6u 12u$(small)">
            <div class="table-wrapper">
                User Stats:
                <br>
                <table>
                    <th>Number of Users:  </th>
                           <th>{{ numUsers }}</th>
                       </tr>
                    <th>Total Quantity of Equipment Held By Users:  </th>
                           <th>{{ numEquipment }}</th>
                       </tr>
                    <th>Highest Quantity of Equipment Held By Single User:  </th>
                           <th>{{ maxEquipment }}</th>
                       </tr>
                </table>
            </div>
        </div>

        <!--------------------------------------------------------------------------------------------------------------
        SEARCH ITEMS
        --------------------------------------------------------------------------------------------------------------->


        <div class="12u$">
            <header id="header">
                <h2 class="colored"><span class=" icon fa-search"></span> Search Items</h2>
            </header>
        </div>

        <div class="4u 12u$(small)">
            <form action="/api/equipment/search" method="post" name="searchform"> {% csrf_token %}
                <div class="12u$">
                    <h2>Filter your search:</h2>
                </div>
                <div class="row">
                    <div class="8u$ 12u$(xsmall)">
                        <label>Keyword</label>
                        <input type="text" name="keyword" placeholder="Laptop"/>
                        <br>
                    </div>
                    <div class="8u$ 12u$(xsmall)">
                        <label>Type</label>
                        <input type="text" name="type" placeholder="LAB"/>
                        <br>
                    </div>
                    <div class="8u$ 12u$(xsmall)">
                        <label>Faculty</label>
                        <input type="text" name="faculty" placeholder="CPSC"/>
                        <br>
                    </div>
                    <div class="8u$ 12u$(xsmall)">
                        <label>Class Number</label>
                        <input type="text" name="classnum" placeholder="304"/>
                    </div>
                    <div class="8u$ 12u$(xsmall)">
                        <br>
                        <div class="8u$ 12u$(xsmall)">
                            <label>Minimum Quantity</label>
                            <input type="text" name="minquantity" placeholder="4"/>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="8u$ 12u$(xsmall)">
                    <button type="submit" class="button button-block">
                        Search
                    </button>
                    <br>
                </div>
            </form>
            <br>
        </div>

        <div class="8u$ 12u$(medium)">
            <a href="/api/equipment/high" class="button fit">Find Item with Highest Quantity</a>
            <a href="/api/equipment/low" class="button fit">Find Item with Lowest Quantity</a>
            <div class="table-wrapper">
                <br>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Class</th>
                    </tr>
                    {% for equip in equiplist %}
                        <tr id="equipment-{{ equip.equipmentID }}">
                            <td>
                                <input type="hidden" name="equipmentid" value="{{ equip.equipmentID }}">
                                <a href="/trade" class="btn-link">{{ equip.equipmentName }}</a>
                            </td>
                            <td>
                                {{ equip.equipmentType }}
                            </td>
                            <td>
                                {{ equip.quantity }}
                            </td>
                            <td>
                                 {% for class in equip.classlist %}
                                 || {{ class.faculty }}{{ class.classNum }}
                                 {% endfor %}
                                 ||
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        </div>
    </div>
{% endblock %}