{% extends 'swap/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row uniform">
        <span class="main image">
            <img src="{% static 'swapapp/images/student_banner.jpg' %}"/>
        </span>

        <!--------------------------------------------------------------------------------------------------------------
        SEARCH ITEMS
        --------------------------------------------------------------------------------------------------------------->


        <div class="12u$">
            <header id="header">
                <h2 class="colored"><span class=" icon fa-search"></span> Search Items</h2>
            </header>
        </div>

       <div class="6u 12u$(small)">
            <p>
                Filter your search here:

            </p>
            <a href="/addequipment" class="button special right">Search</a>
        </div>

 <div class="6u$ 12u$(small)">
            <div class="table-wrapper">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                    {% for equip in equiplist %}
                        <tr id="equipment-{{ equip.equipmentID }}">
                            <td>
                                {{ equip.equipmentName }}
                            </td>
                            <td>
                                {{ equip.equipmentType }}
                            </td>
                            <td>
                                {{ equip.quantity }}
                            </td>
                            <td>
                                <form method="post" action="/api/student/equipment/delete"
                                      style="display: inline-block">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ obj.student.username }}"/>
                                    <input type="hidden" name="equipmentid" value="{{ equip.equipmentID }}">
                                    <input type="submit" value="See More"/>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>


{% endblock %}