{% extends 'swap/base.html' %}
{% load staticfiles %}

{% block content %}

  <div class="row uniform">
        <span class="main image">
            <img src="{% static 'swapapp/images/student_banner.jpg' %}"/>
        </span>
  </div>
    <div class="row">
 <div class="12u$">
            <header id="header">
                <h2 class="colored align-left"><span class=" icon fa-calendar"></span> Enrol in a Class</h2>
            </header>
        </div>
    </div>

<form action="/api/student/class/enroll" method="post" name="enrollform"> {% csrf_token %}
    {% for class in classlist %}
       <input type="radio" id="kind-{{ class.faculty }}{{ class.classNum }}{{ class.term }}" name="kind" value={{ class.faculty }}{{ class.classNum }}{{ class.term }}>
        <label for="kind-{{ class.faculty }}{{ class.classNum }}{{ class.term }}">
            {{ class.faculty }} {{ class.classNum }}, {{ class.term }} {{ class.instructorUsername }}
        {{ class.name }}</label>
        <br>
    {% endfor %}
    <button type="submit" class="button button-block">
        ADD CLASS
    </button>
</form>
{% endblock %}