{% extends 'swap/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row uniform">
        <span class="main image">
            <img src="{% static 'swapapp/images/student_banner.jpg' %}"/>
        </span>
		<!--------------------------------------------------------------------------------------------------------------
        OFFER A TRADE
        --------------------------------------------------------------------------------------------------------------->
        <div class="12u$">
            <header id="header">
                <h2 class="colored"><span class=" icon fa-clock-o"></span> Offer a Trade</h2>
            </header>
        </div>
        <div class="4u$ 12u$(small)">
            <p>
                Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
                faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a
                lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa
                ac ac.Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.
            </p>
            <a href="/api/trades/findtrades" class="button special right">Search for Possible Trades</a>
        </div>

        <!--------------------------------------------------------------------------------------------------------------
        PENDING TRADES
        --------------------------------------------------------------------------------------------------------------->
        <div class="12u$">
            <header id="header">
                <h2 class="colored"><span class=" icon fa-clock-o"></span> Pending trades</h2>
            </header>
        </div>
        <div class="4u$ 12u$(small)">
            <p>
                Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
                faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a
                lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa
                ac ac.Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.
            </p>
            <a href="/maketrade" class="button special right">Make a trade</a>
        </div>

        <!--------------------------------------------------------------------------------------------------------------
        EQUIPMENTS YOU HAVE
        --------------------------------------------------------------------------------------------------------------->
        <div class="12u$">
            <header id="header">
                <h2 class="align-right colored"><span class=" icon fa-flask"></span> Equipment you have</h2>
            </header>
        </div>
        <div class="6u 12u$(small)">
            <p>
                Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
                faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a
                lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa
                ac ac.Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.
            </p>
            <a href="/addequipment" class="button special right">Add Equipment</a>
        </div>

        <div class="6u$ 12u$(small)">
            <div class="table-wrapper">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                    {% for equip in equiplist %}
                        <tr id="equipment-{{ equip.equipmentID }}">
                            <td>
                                {{ equip.equipmentName }}
                            </td>
                            <td>
                                {{ equip.equipmentType }}
                            </td>
                            <td>
                                <form method="post" action="/api/student/equipment/update"
                                      style="display: inline-block">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ obj.student.username }}"/>
                                    <input type="hidden" name="equipmentid" value="{{ equip.equipmentID }}">
                                    <input type="number" name="quantity" min="1" value="{{ equip.quantity }}">
                                    <input type="submit" value="Save"/>
                                </form>
                            </td>
                            <td>
                                <form method="post" action="/api/student/equipment/delete"
                                      style="display: inline-block">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ obj.student.username }}"/>
                                    <input type="hidden" name="equipmentid" value="{{ equip.equipmentID }}">
                                    <input type="submit" value="Delete"/>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <!--------------------------------------------------------------------------------------------------------------
         COURSES ENROLLED IN
        --------------------------------------------------------------------------------------------------------------->
        <div class="12u$">
            <header id="header">
                <h2 class="colored"><span class=" icon fa-graduation-cap"></span> Courses enrolled in</h2>
            </header>
        </div>

        <div class="6u 12u$(small)">
            <div class="table-wrapper">
                <table>
                    <thread>
                        <tr>
                            <th>Faculty</th>
                            <th>Number</th>
                            <th>Term</th>
                            <th>Equipment(s)</th>
                            <th>Action</th>
                        </tr>
                    </thread>
                    <tbody>
                    {% for class in classlist %}
                        <tr>
                            <td>
                                {{ class.faculty }}
                            </td>
                            <td>
                                {{ class.classNum }}
                            </td>
                            <td>
                                {{ class.term }}
                            </td>
                            <td>
                                {% for equip in class.equiplist %}
                                   | {{ equip.equipmentName }}
                                {% endfor %}
                            </td>
                            <td>
                                <form method="post" action="/api/student/class/drop">
                                    {% csrf_token %}
                                    <input type="hidden" name="faculty" value="{{ class.faculty }}"/>
                                    <input type="hidden" name="classnum" value="{{ class.classNum }}"/>
                                    <input type="hidden" name="term" value="{{ class.term }}"/>
                                    <input type="submit" value="Remove"/>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="6u$ 12u$(small)">
            <p>
                Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
                faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a
                lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa
                ac ac.Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.
            </p>
            <a href="/enroll" class="button special right">Enroll in another course</a>
        </div>
        <br>
    <br>
    </div>

{% endblock %}